h1{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #c23584;
}
h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c23584;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover{
    background-color: #a0266f;
}