h1{
    text-align: center;
    color: #c23584;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c23584;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button:hover{
    background-color: #a0266f;
}
.post-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    /* makes it responsive */
    gap: 10px;          /* space between cards */
    padding: 5px;
}

.post {
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
}

.post h2 {
    font-style: italic bold;
    margin: 0;
    padding-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post p {
    margin: 10px 0;
    color: #555;
    font-size: 15px;
}

.post span {
    font-weight: bold;
    color: #444;
}
